@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
header{
  margin: 0 auto;
  width: 80%;
  height: 81px;
}
nav{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.right_header{
  justify-content: flex-end;
  align-content: center;
}
.right_header ul{
  display: flex;
  gap: 40px;
}
.right_header li{
  list-style-type: none;
}
a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.calltoaction{
  margin: 0 auto;
  width: 80%;
  height: 937px;
  background-image: url(./images/sec_1/image1.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.top_cta{
  margin-top: 100px;
}
.left_cta{
  width: 715px;
  height: 590px;
}
.left_cta h1{
  font-size: 72px;
  color: #FF8A56;
  text-wrap: balance;
}
.spec_text1{
  color: #000000;
}
.left_cta p{
  width: 547px;
  height: 66px;
  margin-top: 27px;
  font-size: 22px;
  color: #666666;
}
.top_left_cta{
  margin-bottom: 38px;
}
.buttonbookacall{
  width: 151px;
  height: 58px;
  border-style: none;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.buttonbookacall:hover{
  background-color: #3b3b3b;
}
.buttondownloadcv{
  margin-left: 16px;
  width: 197px;
  height: 58px;
  border-style: none;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.services{
  margin: 0 auto;
  width: 80%;
  height: 813px;
}
.buttondownloadcv:hover{
  background-color: #d1d1d1;
}
.bot_cta{
  width: 75%;
  height: 252px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text_bot_cta{
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.bot_cta p{
  font-size: 18px;
  color: #000000;
}
.imgs_bot_cta{
  display: flex;
  justify-content: space-between;
}
.top_text_services{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_text_services h2{
  color: #FF5E69;
  font-size: 22px;
}
.top_text_services h1{
  color: #000000;
  font-size: 54px;
  width: 768px;
  height: 119px;
  text-align: center;
  margin-top: 18px;
}
.bot_text_services{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 116px;
}
.container1{
  width: 306px;
  height: 381px;
}
.zagolovok_sec2{
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-top: 39px;
}
.description_sec2{
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  width: 252px;
  margin-top: 25px;
  margin-bottom: 22px;
}
.punkti_sec2 li{
  list-style-type: square;
  font-size: 16px;
  color: #000000;
  margin-top: 14px;
  font-weight: 700;
}
.projects{
  width: 80%;
  margin: 0 auto;
}
.top_text_projects h2{
  color: #B16CEA;
  font-size: 22px;
  letter-spacing: 4px;
}
.desc_sec3{
  align-items: center;
  justify-content: space-between;
}
.desc_sec3_text h1{
  color: #000000;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
}
.desc_sec3 button{
  width: 201px;
  height: 58px;
  border-style: none;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.desc_sec3 button:hover{
  background-color: #3b3b3b;
}
.desc_sec3{
  display: flex;
}
.bot_panel_projects{
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.container2{
  width: 486px;
  height: 468px;
  background-color: #FFFFFF;
  background-image: url(./images/sec_3/image1.png);
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  display: inline-block;
}
.container2:hover{
  box-shadow: 0 12px 26px #000000;
}
.container3{
  width: 486px;
  height: 468px;
  background-color: #FFFFFF;
  background-image: url(./images/sec_3/image2.png);
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  display: inline-block;
}
.container3:hover{
  box-shadow: 0 12px 26px #000000;
}
.container4{
  width: 486px;
  height: 468px;
  background-color: #FFFFFF;
  background-image: url(./images/sec_3/image3.png);
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  display: inline-block;
}
.container4:hover{
  box-shadow: 0 12px 26px #000000;
}
.text_con1{
  margin-top: 340px;
  margin-left: 32px;
}
.text_con1 button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: #000000;
  font-size: 18px;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  background-color: #e2e2e2;
}
.text_con1 button:hover{
  background-color: #969696;
}
.zagolovok_sec3{
  color: #3C46FF;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 800;
}
.description_sec3{
  color: #000000;
  font-size: 24px;
  font-weight: 800;
  margin-top: 14px;
  margin-bottom: 14px;
}
.text_con1 img{
  margin-left: 12px;
}
.blogs{
  position: relative;
  bottom: 155px;
  height: 1680px;
  width: 100%;
  background-color: #000000;
}
.container_blogs{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.latest_blogs{
  margin-top: 276px;
}
.blogs_contaier{
  width: 60%;
  margin-top: 335px;
}
.line_image{
  margin-bottom: 67px;
  margin-top: 18px;
}
.latest_blogs h2{
  color: #FFA84B;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 700;
}
.latest_blogs h1{
  color: #FFFFFF;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 45px;
}
.latest_blogs button{
  padding: 0 8px;
  width: 105px;
  height: 40px;
  border-style: none;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 4px;
}
.latest_blogs button:hover{
  background-color: #181818;
}
.latest_blogs img{
  margin-left: 5px;
}
.text_p1{
  height: 16px;
  display: flex;
  align-items: end;
}
.text_p1 img{
  width: 3px;
  height: 3px;
  margin-left: 10px;
  margin-right: 3px;
}
.def_text_p1{
  color: #FFFFFF;
  opacity: 70%;
  line-height: 0.6;
  font-size: 14px;
}
.blog1{
  margin-top: 10px;
  border-bottom: 1px solid #818181;
}
.blog1 h2{
  margin-top: 24px;
  margin-bottom: 42px;
  width: 489px;
  font-size: 28px;
  color: #FFFFFF;
}
.blog1 button{
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  background-color: #000000;
}
.blog1 a{
  color: #FFFFFF;
}
.prod_design{
  width: 80%;
  margin: 0 auto;
}
.blogs_contaier button{
  margin-bottom: 20px;
  border-radius: 4px;
  transition: 0.4s;
}
.blogs_contaier button:hover{
  background-color: #222222;
}
.left_design h2{
  font-size: 22px;
  color: #FF5E69;
  letter-spacing: 4px;
  margin-bottom: 12px;
}
.left_design h1{
  font-size: 52px;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 800;
}
.thatsme{
  display: flex;
  justify-content: space-between;
}
.thatsme p{
  width: 625px;
  height: 120px;
  color: #666666;
  font-size: 22px;
  line-height: 40px;
}
.design_img1{
  width: 338px;
  height: 626px;
}
.design_img2{
  width: 507px;
  height: 626px;
}
.design_img3{
  width: 338px;
  height: 305px;
}
.design_img4{
  width: 338px;
  height: 305px;
}
.images_side_design{
  gap: 16px;
  width: 338px;
  height: 626px;
  display: flex;
  flex-direction: column;
}
.bot_side_design{
  margin-top: 124px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 154px;
}
.boxes_work img{
  width: 40px;
  height: 40px;
}
.educ_work{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.educ1, .work1{
  display: flex;
  width: 584px;
  height: 94px;
  border-bottom: 1px solid #E5E5E5;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.4s;
}
.educ1:hover{
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
}
.work1:hover{
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
}
.work_right img{
  width: 25px;
  height: 25px;
}
.educ_right img{
  width: 25px;
  height: 25px;
}
.work_mid, .educ_mid{
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.educ_left{
  width: 287px;
  height: 54px;
  margin-right: 139px;
}
.educ_p1{
  color: #000000;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}
.educ_p2{
  color: #000000;
  opacity: 60%;
  font-size: 16px;
}
.educ_work h1{
  margin-bottom: 51px;
}
.work_left{
  display: flex;
  width: 286px;
  height: 54px;
  margin-right: 69px;
  align-items: center;
}
.work_left img{
  margin-right: 20px;
}
.work_mid{
  width: 169px;
}
.testimonials{
  width: 80%;
  margin: 0 auto;
  margin-top: 191px;
  height: 800px;
}
.testim h2{
  color: #4353FF;
  font-size: 22px;
  letter-spacing: 4px;
}
.testim h1{
  color: #000000;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 14px;
  margin-bottom: 85px;
}
.testim_text_bot2 button{
  width: 54px;
  height: 54px;
  border-style: none;
  background-color: #000000;
  cursor: pointer;
  transition: 0.4s;
}
.testim_bot{
  display: flex;
  justify-content: space-between;
}
.testim_text_bot{
  display: flex;
  justify-content: space-between;
}
.testim_text_bot2{
  display: flex;
}
.testim_text_bot2 button:hover{
  background-color: #222222;
}
.testim_p1{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.testim_p2{
  color: #000000;
  font-size: 18px;
}
.testim_p_main{
  width: 565px;
  height: 188px;
  color: #000000;
  font-size: 36px;
  font-weight: 800;
  line-height: 47px;
  margin-top: 32px;
  margin-bottom: 112px;
}
.testim_img1{
  margin-top: 25px;
}
.faq{
  background-color: #000000;
  height: 997px;
}
.faq_title h2{
  color: #FF8A56;
  font-size: 22px;
  letter-spacing: 4px;
  width: 58px;
  height: 22px;
  margin: 0 auto;
  margin-top: 82px;
  margin-bottom: 20px;
}
.faq_title h1{
  color: #FFFFFF;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  width: 736px;
  height: 59px;
  margin-bottom: 147px;
}
.faq_div{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.faq_title{
  margin: 0 auto;
}
.question{
  margin-bottom: 31px;
  width: 100%;
  height: 82px;
  border-bottom: 1px solid #454545;
  cursor: pointer;
  transition: 0.3s;
}
.question:hover{
  box-shadow: 20px 20px 30px rgba(77, 77, 77, 0.2);
  border-radius: 4px;
}
.question img{
  width: 24px;
  height: 24px;
}
.question p{
  color: #FFFFFF;
  font-size: 24px;
}
.faq_panel{
  display: flex;
  justify-content: space-between;
}
.questions{
  display: flex;
  justify-content: space-between;
}
footer{
  background-color: #000000;
  height: 541px;
}
.footer_title h2{
  color: #FFFFFF;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 9px;
}
.footer_title h1{
  color: #3C46FF;
  font-size: 54px;
  letter-spacing: 0.5px;
  font-weight: 800;
}
.footer_div{
  width: 80%;
  margin: 0 auto;
}
.portfolio_left p{
  color: #666666;
}
.porfolio{
  display: flex;
  margin-top: 100px;
  margin-bottom: 126px;
  justify-content: space-between;
}
.portfolio_right{
  display: flex;
}
.footer_rights_top p{
  color: #FFFFFF;
  font-size: 18px;
  width: 195px;
  margin-bottom: 25px;
  cursor: pointer;
}
.portfolio_right a{
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 25px;
}
.footer_rights_mid p{
  color: #FFFFFF;
  font-size: 18px;
  width: 195px;
  margin-bottom: 25px;
  cursor: pointer;
}
.footer_rights_bot p{
  color: #FFFFFF;
  font-size: 18px;
  width: 95px;
  margin-bottom: 25px;
  cursor: pointer;
}
.portfolio_right p:hover{
  text-decoration: underline;
}
.portfolio_left_bot{
  display: flex;
}
.portfolio_left_bot p{
  margin-left: 6px;
}
.footer_rights p{
  color: #8A95AD;
  font-size: 16px;
}
.footer_rights{
  display: flex;
  gap: 10px;
}
.portfolio_left_p1{
  margin-top: 14px;
  margin-bottom: 17px;
}
@media (min-width:768px) and (max-width:1024px){
  header{
    width: 90%;
  }
  .calltoaction{
    width: 100%;
  }
  .top_cta{
    margin-left: 4%;
    margin-top: 0px;
  }
  .left_cta{
    width: 55%;
  }
  .left_cta p{
    width: 85%;
    line-height: 36px;
  }
  .calltoaction{
    background-position:300px top;
  }
  .left_cta{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 690px;
  }
  .bot_cta{
    width: 90%;
  }
  .bot_text_services{
    flex-wrap: wrap;
  }
  .bot_side_design{
    flex-wrap: wrap;
  }
  .educ_work{
    flex-wrap: wrap;
  }
  .testim_bot{
    flex-wrap: wrap;
  }
  .services{
    margin-top: 80px;
    width: 90%;
  }
  .container1{
    width: 170px;
  }
  .description_sec2{
    width: 150px;
  }
  .punkti_sec2 ul{
    width: 150px;
  }
  .projects{
    margin-top: 80px;
    width: 90%;
  }
  .bot_panel_projects{
    flex-wrap: wrap;
    gap: 20px;
  }
  .zagolovok_sec3{
    width: 170px;
    height: 40px;
  }
  .description_sec3{
    width: 150px;
    height: 90px;
  }
  .container2{
    width: 210px;
    height: 380px;
    background-position: center top;
    background-size: 100%;
  }
  .container3{
    width: 210px;
    height: 380px;
    background-position: center top;
    background-size: 100%;
  }
  .container4{
    width: 210px;
    height: 380px;
    background-position: center top;
    background-size: 100%;
  }
  .text_con1{
    margin-top: 160px;
  }
  .blogs{
    height: 1400px;
    position: relative;
    bottom: 75px;
  }
  .blog1{
    width: 100%;
    border-bottom: 1px solid #666666;
  }
  .blog1 h2{
    width: 100%;
    margin-bottom: 20px;
  }
  .prod_design img{
    width: 30%;
    height: 30%;
  }
  .images_side_design{
    width: 30%;
  }
  .images_side_design img{
    width: 100%;
    height: 30%;
  }
  .prod_design{
    width: 90%;
    height: 750px;
  }
  .bot_side_design{
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .work_side{
    margin-top: 60px;
  }
  .educ_work{
    width: 90%;
  }
  .educ1, .work1{
    height: 110px;
    width: 701px;
  }
  .work_mid, .educ_mid{
    width: 200px;
    margin-right: 120px;
  }
  .work_left{
    margin-right: 139px;
  }
  .testimonials{
    height: 600px;
    width: 90%;
    margin-top: 80px;
  }
  .testim h1{
    margin-bottom: 30px;
  }
  .testim_bot{
    align-items: center;
  }
  .image_testimonials1{
    width: 36%;
    height: 36%;
  }
  .testim_p_main{
    width: 400px;
    line-height: 1.6;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 40px;
  }
  .faq{
    width: 100%;
  }
  .faq_title h1{
    margin-left: 60px;
    text-align: center;
    width: 80%;
  }
  .question{
    width: 90%;
    height: 96px;
  }
  .footer_rights_top p{
    width: 100px;
  }
  .footer_rights_mid p{
    width: 100px;
  }
  .portfolio_left_p1{
    width: 200px;
  }
  .footer_rights p{
    font-size: 10px;
  }
}
